<div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <h1 class="h1 text-primary mt-4">Budgetify</h1>
  <%= link_to "Sign In", new_user_session_path, class: 'btn-outline-primary mt-4' %>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary mt-2' %>
</div>